
body {
  font-family: 'League Spartan', sans-serif;
  
  background-image: url( './images/bg-pattern-top-desktop.svg'), url( './images/bg-pattern-bottom-desktop.svg');
  background-position: right 50rem bottom 20rem, left 20rem top;
  background-repeat: no-repeat; 
  background-color: hsl(0, 0%, 100%); 
  
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

/*Fonts*/
h1 {
  font-weight: 700;
  font-size: xx-large;
}

.container {
  max-width: 80%;
}

.top-container {
  display: flex;
  align-items: center;
}

.description-section{
  width: 50%;
  
}



.ratings-section {
  width: 40%; 
  display:flex;
  align-items: center;

  flex-direction: column;
  row-gap: 20px;
}


.ratings-text {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
  display:flex;
  align-items: center;
  width: 20rem;
}

.star-ratings {
  background: url('./images/icon-star.svg');
  width:85px;
  height:20px;
  background-repeat: repeat-x;
  margin-right: 2rem;
}

.star-reviews{
  font-weight: 700;
}

.customer-review-section {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  column-gap: 10px;
  
}

.customers {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 1rem;
}

.customer-verified {
  color: hsl(333, 80%, 67%);
}

.customer-names {
  display: flex;
}

.customer-review {
  color: hsl(0, 0%, 100%);
}

.customer-image {
  border-radius: 50%;
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }