
body {
  font-family: 'League Spartan', sans-serif;
  
  background-image: url( './images/bg-pattern-top-desktop.svg'), url( './images/bg-pattern-bottom-desktop.svg');
  background-position: right 48rem bottom 20rem, left 20rem top;
  background-repeat: no-repeat; 
  background-color: hsl(0, 0%, 100%); 
  
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

/*Fonts*/
h1 {
  font-size: 3rem;
}

.container {
  max-width: 70%;
}

.top-container {
  display: flex;
  align-items: center; 
}

.description-section{
  width: 100%;
  padding-bottom: 2rem;

}

.description-paragraph {
  line-height: 1.5;
}

.ratings-section {
  display:flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%; 
}


.ratings-text {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
  display:flex;
  align-items: center;
  width: 20rem;
}

.first-rating{
  align-self: start;
}

.second-rating {
  align-self: center;
}

.third-rating {
  align-self: end;
}

.star-ratings {
  background: url('./images/icon-star.svg');
  width: 85px;
  height:20px;
  background-repeat: repeat-x;
  margin-right: 2rem;
}

.star-reviews{
  font-weight: 700;
}

.customer-review-section {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}


.customers {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
}

.customer-data, .customer-verified {
  font-size: medium;
  margin-left: 2rem;
}

.customer-verified {
  color: hsl(333, 80%, 67%);
}

.customer-names {
  display: flex;
  align-items: center; 
}

.irene {
  margin: 1rem 0rem -1rem 0rem;
}

.anne {
  margin: 2rem 0rem -2rem 0rem;
}

.customer-review {
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
}

.customer-image {
  border-radius: 50%;
  height: 2.5rem;
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }