body {
    background-image: url( './images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%); 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: larger;
}
h1, h2 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.profile-age {
    margin-top: 35px;
}
p {
    font-weight: 400;
    margin: 0 0 1rem 0;
}


/* Main card container */
.container {
    text-align: center;
} 


/*  Cars Description Section */
.card {    
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column; 
    margin: 1rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 15px;
   
}

.top-image {
    border-radius: 15px 15px 0 0;
   
}



.profile-image {
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: -3.5rem;
    bottom: 3.5rem;
}
/*
.mid-container {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;      
    
} */

.mid-container {
    width: 50%;
}

hr {
    background-color: hsl(0, 0%, 59%);
    width: 100%; 
    
}

.profile-information {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
   
}

.bottom-container {
    display: flex; 
    flex-direction: column;   
    width: 100%; 
    flex: 1;
}

.bottom-stats {
    display: flex; 
    justify-content: space-evenly;
    
}

.statistics {
    font-size: small;
}

/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}