body {
    background-image: url( './images/bg-pattern-top.svg'), url( './images/bg-pattern-bottom.svg');
    background-position: right 50rem bottom 1rem, left 45rem top 20rem;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%); 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Fonts */

h1 {
    font-size: larger;
}

h1, h2 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin: 1rem 0 0 0;
}

p {
    font-weight: 400;
    margin: 0 0 1rem 0;
}


/* Main card container */

.container {
    text-align: center;
} 


/*  Profile Description Section */

.card {    
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column; 
    margin: 1rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 15px;
    width: 25rem;
}

.top-image {
    border-radius: 15px 15px 0 0;
    width: 400px;    
}

/* Middle Container */

.mid-container {
    width: 50%;
}

.profile-image {
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    bottom: 3.5rem;
    position: relative;
    margin-bottom: -3.5rem;
}

.profile-information {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    margin-bottom: -8px;
}

.profile-age {
    margin: 35px 25px 16px 0;
}

.profile-country {
    font-size: medium;
    margin-bottom: 1rem;
}

/* Bottom Container */

.bottom-container {
    display: flex; 
    flex-direction: column;   
    width: 100%; 
    flex: 1;
}

hr {
    background-color: hsl(0, 0%, 59%);
    width: 100%;     
}

.bottom-stats {
    display: flex; 
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
}

.stat-nums {
    font-size: large;
}

.statistics {
    font-size: x-small;
    letter-spacing: .1rem;
    padding-top: 0.25rem;
}


/* Footer */
.footer-text {
    color: hsl(229, 23%, 23%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Media Queries */
@media screen and (max-width: 992px) {
    body {
        background-position: right 17rem bottom 14rem, left 12rem top 15rem;
}
}