body {
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-height: 100vh;
}

/* Fonts */
h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

span {
    color: hsl(277, 64%, 61%);
}

/* Main Card Container */
.container {
    max-width: 80%;
    margin: 1rem 0 4rem 0;
}

/* Card Description Section */
.card { 
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card-text {
    width: 80%;
    margin-left: 4rem;

}

.description {
    font-size: small;
    line-height: 1.6;
    margin: 0 3rem 2rem 0;
}

/* Statistics Section */
.statistics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}

.stat-pairs {
    margin-left: 4rem;
}

.stat-numbers {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
    font-size: larger;
}

.stats-text {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: x-small;
    margin-top: 0.5rem;
}

/* Right Side Card Image */

.card-image {
    position: relative;   
    width: 90%;
    height: auto; 
    background-color: rgba(170, 92, 219, 0.5);  
    border-radius: 0 10px 10px 0;
}

.hero-image {  
    width: 100%;
    height: 100%; 
    border-radius: 0 10px 10px 0;
    bottom: 0;
    vertical-align: top;
    mix-blend-mode: soft-light;
}



/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 992px) {
    /* Main Card Container */
    .container {
        max-width: 100%;
    }

    /* Card Description Section */
    .card { 
        flex-direction: column-reverse;
    }

    .card-text {
        margin: 1rem 1rem 2rem 3rem;
        text-align:center;
        width: 80%;
    }

    .card-description {
        max-width: 100vw; 
    }

    .description {
        margin: 1rem 4rem;       
    }

    /* Statistics Section */
    .statistics {
        display: block;   
    }

    .stat-pairs1 {
        font-size: 5vw;
    }

    .stat-pairs {
        margin-left: 0;
        font-size: 5vw;
    }

    /* Right Side Card Image */

    .card-image {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
   
    .hero-image {
        border-radius: 10px 10px 0 0;
    }
  }