body {
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-height: 100vh;
}

/* Fonts */
h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

span {
    color: hsl(277, 64%, 61%);
}

/* Main Card Container */
.container {
    max-width: 70%;
    margin: 1rem 0 4rem 0;
}

/* Card Description Section */
.card { 
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-description {
    max-width: 50%; 
}

.card-text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}

.description {
    font-size: small;
    line-height: 1.6;
    margin: 0 2rem 2rem 0;
}

/* Statistics Section */
.statistics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}

.stat-pairs {
    margin-left: 4rem;
}

.stat-numbers {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
    font-size: larger;
}

.stats-text {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: x-small;
    margin-top: 0.5rem;
}

/* Right Side Card Image */

.card-image {
    position: relative;   
}

.card-image:before {
    border-radius: 0 10px 10px 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(170, 92, 219, 0.5);
}

.hero-image {
    width: 100%;
    height: auto; 
    border-radius: 0 10px 10px 0;
    bottom: 0;
}


/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 992px) {

    .container {
        max-width: 100%;
    }
    .card { 
        flex-direction: column-reverse;
    }

    .card-description {
        max-width: 90%; 
        
    }

    .statistics {
        flex-direction: column;
        justify-content: center;
    }

    .stat-pairs {
        margin-left: 0;
    }

    .hero-image {
        border-radius: 10px 10px 0 0;
        
    }
  }